

<p>
    <div class= "commentsFormat">
        <u>Name:</u>
        <%= comment.commenter %>
        <br>
        <br>
        <div class = "commentBody">
            <%= comment.body %>
        </div>
        
        <br>
    </div>
    
</p>

<div class = "deleteCommentFormat">
    <%= link_to 'Delete Comment', [comment.article, comment],
                method: :delete, 
                data: { confirm: 'Are you sure?'} %>
</div>

