<p style= "border:1px; border-style:solid;">
    <strong>Commenter:</strong>
    <%= comment.commenter %>
    <br>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p style= "text-align:right; font-size:14px;">
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete, 
                data: { confirm: 'Are you sure?'} %>
</p>