// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.deleteReviewFormat{
    font-size: 12px;
    text-align: right;
}

.reviewsFormat{
    background: #F8F8F8;
    text-align: left;
}

.articleSections{
    padding: 100px;
    padding-left: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2em;
}

.reviewBody{
    font-size: 14px;
}
