

<p>
    <div class= "reviewsFormat">
        <u>Name:</u>
        <%= review.commenter %>
        <br>
        <br>
        <div class = "reviewBody">
            <p>Comment: <%= review.body %> </p>
            <p>Rating:  <%= review.rating %> </p>
        </div>
        <br>
    </div>
    
</p>

<div class = "deleteReviewFormat">
    <%= link_to 'Delete Review', [review.article, review],
                method: :delete, 
                data: { confirm: 'Are you sure?'} %>
</div>


